<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify</title>
    <script>
        
        // function tutorialmatch(){
        //     var getValue = localStorage.getItem('keyName')
        //      $('#replace').removeClass('collapsible-header').addClass('collapsible-header active');
        //      console.log(getValue);
        // }
        
        
        // function verify(){
        //     username[].IsVerified=true;
        // } 

        // var b= "data:image/jpeg;base64," +username[3].img64;
        // console.log(b);
        
        
    </script>
</head>
<body>
    <h1 style="text-align: center;">Verify The Parking Site</h1>
   
    <div>
        <img src="data:image/jpeg;base64,<%= username[5].Img64%>" alt="" height="600" width="700">
    </div>
        <!-- <section> -->
            <button type="button">Verify</button>
            <a href="/"><button type="button">Return To Home Page</button></a>
        <!-- </section> -->

</body>
</html>